<div class="container mt-5">
   <div class="row mt-5">

    <form (ngSubmit)="savedPost()">

        <div class="form-group">
            <input type="text" class="form-control col-6" placeholder="Enter Title" name="title"[(ngModel)]="newPost.title">
        </div>

        <div class="form-group">
           <input type="text" class="form-control col-6" placeholder="What are your thoughts?" name="description"[(ngModel)]="newPost.description">
        </div>

        <button type="submit" class="btn btn-primary">Enter my thoughts!</button>
<br>
        <button (click)="deletedPost(newPost.id)" class="btn btn-danger">Delete</button>
<br>
        <button type="submit" class="btn btn-success">back to home</button>

    </form>

   </div>
</div>
